.add-note-btn{
    padding: 10px 25px; 
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 20px;
}


.note-block{
    background-color: #eeeeee;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.note-block button{
    float: right;
    margin-top: -7px;
    margin-right: 10px;
}